<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM СЕРВИСНОЙ СЛУЖБЫ</title>
</head>
<body>
<h1>CRM СЕРВИСНОЙ СЛУЖБЫ</h1>
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="http://127.0.0.1:5000/" class="">Main page</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/orders/get/all" class="nav-link">Get orders</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/employees/get/all" class="nav-link">Get employees</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/departments/get/all" class="nav-link">Get departments</a></li>
      </ul>
</header>
</body>
</html>